
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3{
  font-family: 'Yeon Sung', cursive;
}
h1{
  font-size: 10em;
}
h2{
  font-size: 2em;
}

@media screen and (max-width : 400px) {
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
}

@media screen and (min-width: 400px) and (max-width : 600px) {
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) and (max-width : 800px) {
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
}

@media screen and (min-width: 800px) and (max-width : 1000px) {
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
}
